*.o
*.d
*.exe
bin
.idea/*
cmake-build/*
.vscode/tags
.vscode/*
utils/.vscode/tags
tags
*.DS_Store
dump/*
*/.ipynb_checkpoints/*
analysis/figs/*
analysis/__pycache__/*
analysis/Analysis.ipynb
outputs/*
meshes
polys
