*.o
*.d
*.exe
bin
.idea/*
cmake-build-debug/*
.vscode/tags
.vscode/*
utils/.vscode/tags
tags
.ycm_extra_conf.py
*.DS_Store
dump/*
*/.ipynb_checkpoints/*
analysis/figs/*
analysis/__pycache__/*
analysis/Analysis.ipynb
